<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('pk_live_DlY37k7SzbVnJYjgyZBgsxJx');
  var sessionId = window.location.search.split('?')[1]
  stripe.redirectToCheckout({
      sessionId: sessionId
    }).then(function (result) {
      result.error
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
</script>